numpy>=1.8.1
bottle>=0.12
requests>=2.4.0
ordereddict>=1.1
decorator>=3.4.0
pandas>=0.15.0
pymongo>=3.0
matplotlib
jupyter
scipy
scikit-learn
pyorient
trustedanalytics
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
